<app-nav-bar></app-nav-bar>
<section>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <div class="card1" style="width: 22rem">
                <img src="./disfrazbebé-removebg-preview.png" class="card-img-top" alt="Disfraz para bebé">
                <div class="card-body">
                  <p class="card-text">Disfraz para bebé</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card2">
                <img src="./disfrazniños-removebg-preview.png" class="card-img-top" alt="Disfraz para bebé">
                <div class="card-body">
                  <p class="card-text">Disfraz para niños</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card3">
              <img src="./disfrazadultos-removebg-preview.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Disfraz para adultos</p>
              </div>
            </div></div>
            <div class="col-6">
              <div class="card4">
                <img src="./disfrazmascotas-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Disfraz para mascotas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card5">
          <img src="./67708f0ec16fdaa0f40b52020a77e93d-removebg-preview.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">🎃 ¡Invitación al Gran Concurso de Disfraces! 👻</h5>
            <p class="card-text">
              ¡Atención, criaturas de la noche y espíritus festivos!
              Te invitamos a un evento espeluznantemente divertido: nuestro Gran Concurso de Disfraces. Ven con tu disfraz más creativo y aterrador y compite por fabulosos premios.
              ¡Prepárate para una noche llena de sustos y diversión!</p>
          </div></div>
      </div>
    </div>

    <br>
    <div class="carrusel">
      <div class="carrusel-inner">
        <div class="carrusel-item active">
          <img src="/grupo-removebg-preview.png" alt="disfraces1">
        </div> 
        <div class="carrusel-item">
          <img src="/grupo1-removebg-preview.png" alt="disfraces2">
        </div>
        <div class="carrusel-item">
          <img src="/grupo2-removebg-preview.png" alt="disfraces3">
        </div>
        <div class="carrusel-item">
          <img src="/grupo3-removebg-preview.png" alt="disfraces4">
        </div>
      </div>
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </div>
    <br>
    <section>
      <div class="container1">
        <div class="row">
          <div class="col-7">
            <div class="row">
              <div class="col-12"></div>
              <div class="card6" style="width: 100rem;">
                <img src="./evento.jpg" class="card-img-top" alt="Evento 1">
                <div class="card-body">
                  <p class="card-text">La Gran Marcha Zombie</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="card7" style="width: 50rem;">
              <img src="./evento1.jpg" class="card-img-top" alt="Evento 2">
              <div class="card-body">
                <p class="card-text">Cosplay</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="card8" style="width: 50rem;">
              <img src="./evento2.jpg" class="card-img-top" alt="Evento 3">
              <div class="card-body">
                <p class="card-text">Juegos y Rondas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
    <script src="monsters.js"></script>